#
# Continuous Integration (CI) Pipeline
#

trigger:
  batch: true
  branches:
    include:
    - main
    - release/*
    - feature/*
pr:
  branches:
    include:
    - main
    - release/*
    - feature/*

variables:
- name: buildConfiguration
  value: 'Release'
- name: runCodesignValidationInjection
  value: false
- name: skipComponentGovernanceDetection
  value: true

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

stages:
- stage: build
  displayName: Build
  jobs:
  - job: build_clog
    displayName: Build CLOG
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: 'Use .NET Core sdk'
      inputs:
        packageType: sdk
        version: 5.x
        installationPath: $(Agent.ToolsDirectory)/dotnet
    - task: DotNetCoreCLI@2
      inputs:
        command: build
        projects: clog.sln
        arguments: --configuration $(buildConfiguration)
    - task: DotNetCoreCLI@2
      inputs:
        command: custom
        custom: tool
        arguments: restore
      displayName: Install dotnet-format
    - script: dotnet format --check
      displayName: Check formatting
    - publish: $(System.DefaultWorkingDirectory)/src/nupkg
      artifact: ToolNuPkg
- stage: examples
  displayName: Examples
  dependsOn:
  - build
  jobs:
  - job: build_example
    displayName: Build Example
    strategy:
      matrix:
        # linux31:
        #   imageName: 'ubuntu-latest'
        #   dotnetVersion: 3.1.x
        # mac31:
        #   imageName: 'macos-10.14'
        #   dotnetVersion: 3.1.x
        # windows31:
        #   imageName: 'windows-latest'
        #   dotnetVersion: 3.1.x
        linux5:
          imageName: 'ubuntu-latest'
          dotnetVersion: 5.x
        mac5:
          imageName: 'macos-10.14'
          dotnetVersion: 5.x
        windows5:
          imageName: 'windows-latest'
          dotnetVersion: 5.x
    pool:
      vmImage: $(imageName)
    steps:
    - task: UseDotNet@2
      condition: ne(variables.imageName, 'windows-latest')
      displayName: 'Use .NET Core sdk'
      inputs:
        packageType: sdk
        version: $(dotnetVersion)
        installationPath: $(Agent.ToolsDirectory)/dotnet
    - task: DownloadPipelineArtifact@2
      displayName: Download Artifacts
      inputs:
        artifact: ToolNuPkg
        path: $(System.DefaultWorkingDirectory)/nupkg
    - pwsh: |
        if ($IsLinux) {
          sudo apt-add-repository ppa:lttng/stable-2.11
          sudo apt-get update
          sudo apt-get install -y liblttng-ust-dev
          sudo apt-get install -y lttng-tools
        }

        $BaseDir = Get-Location
        $UploadPath = Join-Path $BaseDir "Logs"
        mkdir $UploadPath

        mkdir build
        cd build
        $env:CLOG_DEVELOPMENT_MODE = 1
        cmake ../examples
        cmake --build .

        if ($IsLinux) {
          cd clogsample
          mkdir log
          mkdir log/lttng
          lttng create clogsample -o=log/lttng
          lttng enable-event --userspace CLOG_*
          lttng add-context --userspace --type=vpid --type=vtid
          lttng start

          ./clogsample

          lttng stop clogsample
          babeltrace --names all log/lttng/* > log/clog.babel
          clog2text_lttng -i log/clog.babel -s ../../examples/examples/sidecar/clog.sidecar -o log/clog.log --showTimestamp --showCpuInfo
          cat log/clog.log

          cp log/clog.babel "$UploadPath/clogstatictp.babel"
          cp ../../examples/examples/sidecar/clog.sidecar "$UploadPath/clog.sidecar"

          rm -rf log/lttng
          mkdir log/lttng

          Write-Host "Running with Dynamic Tracepoint Provider"

          lttng create clogsampledyn -o=log/lttng
          lttng enable-event --userspace CLOG_*
          lttng add-context --userspace --type=vpid --type=vtid
          lttng start

          $env:LD_PRELOAD="$PWD/libclogsampletracepointprovider.so"
          ./clogsampledynamictp

          $env:LD_PRELOAD=""

          find .

          lttng stop clogsampledyn
          babeltrace --names all log/lttng/* > log/clog.babel
          ./buildclog/artifacts/clog2text_lttng -i log/clog.babel -s ../../examples/examples/sidecar/clog.sidecar -o log/clog.log --showTimestamp --showCpuInfo
          cat log/clog.log

          cp log/clog.babel "$UploadPath/clogdynamictp.babel"
          cp ../../examples/examples/sidecar/clog.sidecar "$UploadPath/clog.sidecar"

          ls $UploadPath

        }

      displayName: Test Sample Build

    - task: CopyFiles@2
      displayName: Move Build Artifacts
      inputs:
        sourceFolder: Logs
        targetFolder: $(Build.ArtifactStagingDirectory)
    - task: PublishBuildArtifacts@1
      displayName: Upload Build Artifacts
      inputs:
        artifactName: logs
        pathToPublish: $(Build.ArtifactStagingDirectory)
        parallel: true
