#
# Continuous Integration (CI) Pipeline
#

trigger:
  batch: true
  branches:
    include:
    - master
    - release/*
    - feature/*
pr:
- master
- release/*
- feature/*

variables:
- name: buildConfiguration
  value: 'Release'
- name: runCodesignValidationInjection
  value: false
- name: skipComponentGovernanceDetection
  value: true

name: 0.$(Date:yyyy).$(Date:MM).$(DayOfMonth).$(Rev:rr).0

stages:
- stage: build
  displayName: Build
  jobs:
  - job: build_clog
    displayName: Build CLOG
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: UseDotNet@2
      displayName: 'Use .NET Core sdk'
      inputs:
        packageType: sdk
        version: 3.1.302
        installationPath: $(Agent.ToolsDirectory)/dotnet
    - task: DotNetCoreCLI@2
      inputs:
        command: build
        projects: clog.sln/clog.sln
        arguments: --configuration $(buildConfiguration)
    - publish: $(System.DefaultWorkingDirectory)/nupkg
      artifact: ToolNuPkg
- stage: tests
  displayName: Tests

  strategy:
    matrix:
      linux:
        imageName: 'ubuntu-latest'
      mac:
        imageName: 'macos-10.14'
      windows:
        imageName: 'windows-latest'

  dependsOn:
  - build
  jobs:
  - job: build_example
    displayName: Build Example
    steps:
    - task: UseDotNet@2
      displayName: 'Use .NET Core sdk'
      inputs:
        packageType: sdk
        version: 3.1.302
        installationPath: $(Agent.ToolsDirectory)/dotnet
    - task: DownloadPipelineArtifact@2
      displayName: Download Artifacts
      inputs:
        artifact: ToolNuPkg
        path: $(System.DefaultWorkingDirectory)/nupkg
    - pwsh: |
        ls $(System.DefaultWorkingDirectory)/nupkg
        dotnet tool install --global --add-source $(System.DefaultWorkingDirectory)/nupkg Microsoft.Logging.CLOG
        mkdir build
        clog --installDirectory build/clog
        cd build
        $env:CLOG_DEVELOPMENT_MODE = 1
        cmake ../examples
        cmake --build .
      displayName: Test Sample Build
